@import url(style.css);

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-color: white;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.background-card {
    background-image: url(../assets/images/background-card.png);
    background-repeat: repeat;
    /* background-size: cover; */
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
}

.user-card {
    margin-top: 8rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 42%;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
}

.right-card, .left-card{
    padding: 1rem 2.5rem;
    width: 45%;
    align-items: center;
    text-align: center;
    color: var(--azul-fonte);
}

.left-card {
    border-radius: 0 1rem 1rem 0;
    background-color: var(--principal);
    color: white;
}

.card-body {
    text-align: left;
}

.site-footer {
    background-color: white;
    padding: 1rem;
}

.site-footer img{
    max-width: 4rem;
    margin-top: 0.5rem;
}

.footer-text {
    display: none;
}